<html lang="en">
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-container">
      {{>header}}
      <img class="portrait" src="./img/Saqib Pic.jpg" />

      <h3>Saqib Ahmed</h3>
      <span>Working As : Full Stack Developer</span>
      <p><span>Location : Mysore </span></p>
      
    </div>
    
    {{>footer}}
  </body>
</html>